*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%;
}

h1 {
    font-size: 45px;
    font-style: normal;
    font-weight:400;
    letter-spacing: 2px;
}

h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 5px;
}

h3, p {
    font-size: 20px;
    font-style: normal;
    font-weight: 350;
}

.navbar {
    background-color: white;
    float: left;
    position: sticky;
    top: 0;
}

nav {
    height: 80%;
    width: 95%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: .75em;
}

nav ul{
    list-style-type: none;
}

nav li {
    display: inline;
    font-size: 20px;
    margin-left: 1em;
}

header {
    height: 110px;
    width: 1920px;
}

.title h2{
    display: inline;
    font-size: 30px;
}

.title img {
    height: 40px;
}

.searchbar h3{
    display: inline;
}

#home {
    width: 1920px;
    height: 633px;
    background-image: url(./assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);
    background-color: black;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
}

#home h1 {
    color: white;
    font-weight: 300;
    display: inline;
}

.home_1 {
    position: relative;
    margin-left: 10%;
    margin-top: 10%;
    
}

.home_2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.flip{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

footer {
    background-color: #BF7631;
}

footer .title {
    display: inline;
}

footer .title h2{
    font-size: 40px;
}

footer .title img{
    height: 96px;
}

footer .footer_notes div{
    font-size: 20px;
    display: inline;
}

#products button{
    background-color: #BF7631;
    color: white;
}